@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.form {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.form-button {
    border: 1px solid black !important;

    font-weight: lighter!important;
}
