.upcoming-events-container {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 0rem;
  padding-bottom: 10rem;
}

.view-more-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.loading-text {
  display: flex;
  justify-content: center;
}