@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.navbar {
    border-bottom: 1px solid black;
}
.navbar-brand a {
    color: white!important;
    margin-right: 30px ;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
}
.navbar-firstlink{
    border-left: 0.5px solid white;
}
.navbar-firstlink a {
    color: white!important;
    margin-left:50px!important;
    margin-right:30px!important;
    font-weight: 350;
    text-transform: uppercase;
}
.navbar-link a {
    color: white!important;
    margin-left: 30px!important;
    margin-right: 30px!important;
    font-weight: 350;
    text-transform: uppercase;
}
.navbar-profile a {
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: 1px solid white!important;
    border-radius: 50px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hamburger-icon {
    width: 150%;
    height: 150%;
}

.nav-hamburger {

}

.hamburger-dropdown {
    background-color: transparent !important;
    border: 0 solid transparent!important;
}
