.profile-sidebar {
    width: 40%;
    padding: 3%;
    background: linear-gradient(-45deg, #5b0607, #962424, #5a25c2, #06054b);
    animation: gradient 7s ease infinite;
    background-size: 400% 400%;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}