@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.back-icon-container {
    margin-top: 3%;
    margin-left: 2%;
    width: 60px;
    height: 60px;
    border: 0 !important;
    background-color: transparent !important;
}

.back-icon {
    width: 100%!important;
    height: 100%!important;
}

.icon-button {
    border: 0;
    height: 100%;
    background-color: transparent;
}

.profile-card {
    background-color: white;
    position: relative;
    border-radius: 62px;
    margin: 5% 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    box-shadow:  20px 20px 53px #d0d0d0,
    -20px -20px 53px #f0f0f0;
}

.profile-info {
    font-size: 1.25vw;
    float: left;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    font-size: 1.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.action-button {
    width: 80%;
    height: 40px;
    margin-bottom: 5%;
    text-align: center;
    border: 2px solid grey;
    border-radius:40px;
    background: transparent;
    text-transform: uppercase;
    letter-spacing:1px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.action-button:hover {
    border: 0;
    color: white;
    background: rgba(0,0,0,0.66);
}

.profile-field {
    display: flex;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    font-size: 115%;
}

.profile-icon-container {
    padding-right: 5%;
}

.profile-name {
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 150%;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.feedback-title {
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}
.view-resume-container {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-resume {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    line-height: 250%;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    border: 1px solid black!important;
    border-radius: 50px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.feedback-notes {
    margin: auto;
    width: 90%;
}

.aboutus-photo {
    border-radius: 100px;
    width: 15%;
    height: 15%;
}

.profile-name {
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 150%;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.role-name {
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 4px;
    color: black;
    font-weight: bolder;
    font-size: 100%;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.aboutus-card {
    background-color: rgba(255,255,255,0.4);
    position: relative;
    border-radius: 62px;
    margin: 5% 10%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.alert-text {
    color: #9d9d9d;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 125%;
    text-transform: uppercase;
    padding-bottom: 2%;
    text-align: center;
}

.action-button-2 {
    border: 2px solid grey!important;
    border-radius:40px!important;
    background: transparent;
    text-transform: uppercase;
    letter-spacing:1px!important;
    cursor: pointer!important;
    transition: all 0.25s ease!important;
}

.action-button-2:hover {
    border: 2px solid rgba(0,0,0,0.66) !important;
    color: white;
    background: rgba(0,0,0,0.66) !important;
}

.aboutus-text {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    color: black;
    font-weight: bolder;
    font-size: 100%;
    padding-bottom: 2%;
}
