.background-form {
    background: #272D32 !important;
}

.form {
    border: 1px solid black !important;
    border-radius: 0.5rem !important;
    /*box-shadow:  3px  3px 5px #101214,*/
    /*            -3px -3px 5px #3e484e !important;*/
    box-shadow:  1px  1px 3px #666666,
                -1px -1px 3px #FFFFFF !important;
    color: #272D32 !important;
    margin: 2% auto !important;
    padding: 2% !important;
    width: 50% !important;
}

.form-background {
    background: #ECF0F3 !important;
    /*background: #55626d !important;*/
}

.form-title {
    font-size: 2rem !important;
    font-weight: bold !important;
    text-shadow: none !important;
}

.form-input {
    background: #ECF0F3 !important;
    border-radius: 10px !important;
    box-shadow: inset  1px  1px 2px #8c8c8c,
                inset -1px -1px 2px #ffffff !important;
}
