@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 2rem;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}


